.layout-container {
  overflow: auto; 
  height: 100vh; 
  background: linear-gradient(160deg, #1a1a1a 0%, #262626 100%);
  
  .textBox2 {
    text-align: center;
    margin-top: 200px;
    margin: 30px 20px;
  
    p2 {
      font-size: 2.5rem;
      color: white;
    }
    
    h4 {
      margin-top: 100px;
      color: white;
    }

    p {
      font-size: 1.7rem;
      margin-top: 30px;
      margin-bottom: 70px;
      color: white;
    }

    h1 {
      font-size: 1rem;
      margin-bottom: 70px;
      color: white;
    }
  }
  
  .contentBox {
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}